<h2>Available hangars</h2>

<!--     <%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>

  <div>
    Registered after
    <%= f.text_field(:with_created_at_gte, class: 'js-datepicker') %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %> -->





<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Airport</th>
      <th>Location</th>
      <th>Hangar Number / Address / ID</th>
      <th>Type</th>
      <th>Size</th>
      <th>Leased? </th>
      <th colspan="13"></th>
    </tr>
  </thead>

  <tbody>
    <% @grouped_hangars.each do |hangar| %>
        <tr class="<%= hangar.available ? 'success' : 'danger' %>">
        <td><%= hangar.airport.formatted_name if hangar.airport %></td>
        <td><%= hangar.airport.formatted_city_state if hangar.airport %></td>
        <td><%= hangar.hangar_number %></td>
        <td><%= hangar.hangar_type %></td>
        <td><%= hangar.size %></td>
        <td>
          <% if hangar.available %>
          Available!</td>
          <% else %>
          Under Lease Agreement
          <% end %>
        <td><%= link_to 'View Details', hangar %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.admin? %>
<%= link_to 'List a New Hangar', new_hangar_path %>
<% end %>

<% if owner_signed_in? %>
<%= link_to 'List a New Hangar', new_hangar_path %>
<% end %>