<h2>Available hangars</h2>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Airport</th>
      <th>Location</th>
      <th>Hangar Number / Address / ID</th>
      <th>Type</th>
      <th>Size</th>
      <th>Leased? </th>
      <th colspan="13"></th>
    </tr>
  </thead>

  <tbody>
    <% @grouped_hangars.each do |hangar| %>
        <tr class="<%= hangar.available ? 'success' : 'danger' %>">
        <td><%= hangar.airport.formatted_name if hangar.airport %></td>
        <td><%= hangar.airport.formatted_city_state if hangar.airport %></td>
        <td><%= hangar.hangar_number %></td>
        <td><%= hangar.hangar_type %></td>
        <td><%= hangar.size %></td>
        <td>
          <% if hangar.available %>
          Available!</td>
          <% else %>
          Under Lease Agreement
          <% end %>
        <td><%= link_to 'View Details', hangar %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.admin? %>
<%= link_to 'List a New Hangar', new_hangar_path %>
<% end %>

<% if owner_signed_in? %>
<%= link_to 'List a New Hangar', new_hangar_path %>
<% end %>