<center><%= render 'image' %></center>
<div class="padding15 hangarshow">
  <div class="container-fluid">
<center>  	
<p>
Airport: <%= @hangar.airport.formatted_name %><br>
</p>
<p>Location: <%= @hangar.airport.formatted_city_state %> </p>

<p>
  <strong>Type: </strong><%= @hangar.hangar_type %>
</p>

<p>
  <strong>Size:</strong>
  <%= @hangar.size %>
</p>
<p>
  <strong>Montly Rate: $</strong>
  <%= @hangar.rate %>
</p>
<p>
  <strong>Minumum Lease Term: </strong>
  <%= @hangar.term %><i> (months)</i>
</p>
<% unless owner_signed_in? %>
	Send an inquiry to the owner:
	<%= form_for(Message.new, url: hangar_message_path(@hangar)) do |f| %>
	<%= f.text_area :body, class:"form-control" %> 
	<%= f.submit %> 
	<% end %>

<hr>
<%= link_to "View other hangars at this airport", airport_path(@hangar.airport_id) %>
<center>

<%= link_to 'Reserve This Hangar |', new_hangar_lease_path(@hangar) %> <% end %> 
<% if owner_signed_in? %>  <%= link_to 'Edit Listing |', edit_hangar_path(@hangar) %><% end %>
  
<%= link_to 'Back', hangars_path %>
</center>
</div>
</div>