<table class="table">
  <thead class="thead-default">
<tr>
	<th>Hangar Number</th>
  <th>Hangar Type</th>
	<th>Size</th>
	<th>Leased?</th>
	<th colspan="13"></th>
</tr>
  </thead>
  <tbody>  
<tr>
    <% @airport.hangars.each do |hangar| %>
    <tr class="<%= hangar.available ? 'success' : 'danger' %>">
    <td><%= hangar.hangar_number %></td>
    <td><%= hangar.hangar_type %></td>
    <td><%= hangar.size %></td>
    <td>
                <% if hangar.available == true %>
          <%= link_to 'Available! Reserve Now', hangar_path(hangar) %></td>
          <% else %>
          Currently Leased
          <% end %>

    </td>
      </tr>
    <% end %>
  </tbody>
</table>