<p id="notice"><%= notice %></p>

<h1>Airports Listing</h1>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td><%= airport.formatted_name  %></td>
        <td><%= airport.formatted_city_state %></td>
        <td><%= link_to 'View Airport Details & Available Hangars', airport %></td>
        <% if current_user && current_user.admin? %>
        <td><%= link_to 'Edit', edit_airport_path(airport) %></td>
        <td><%= link_to 'Destroy', airport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>
<% if current_user && current_user.admin? %>
<%= link_to 'New Airport', new_airport_path %>
<% end %>
</center>