<p id="notice"><%= notice %></p>

<h1>Listing Airports</h1>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>IATA</th>
      <th>IACO</th>
      <th>Lease</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td><%= airport.name %></td>
        <td><%= airport.iata_code %> 
        <td><%= airport.id_code %></td>
        <td><%= airport.lease_id %></td>
        <td><%= link_to 'Show', airport %></td>
        <td><%= link_to 'Edit', edit_airport_path(airport) %></td>
        <td><%= link_to 'Destroy', airport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airport', new_airport_path %>
