<p id="notice"><%= notice %></p>

<p>
  <strong>Airport Name:</strong>
  <%= @airport.name %>
  <strong>Airport Code:</strong>
  <%= @airport.id_code %>
<p>

<%= if @airport.hangars.present?

render "airport_hangars_list"
 else 
render "no_list"
 end %> 

<hr>

<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>
